
.imgcontainer{
    width: 40px;
}

.text-white{
    color: white !important;
}

.bg-black{
    background-color: #370028 !important;
}

.fs-tech-title{
    font-size: 1.3rem;
}

.blocTech{
    width: 100% !important;
    max-width: 200px !important;
}

.rowSpace{
    display: flex;
    justify-content: space-around;
}

/* Overlay effect on hover */
.grid-item .img-place {
    position: relative;
}

.grid-item .img-place::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 169, 179, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
    pointer-events: none;
}

.grid-item .img-place:hover::before {
    opacity: 1;
}