
.imgcontainer{
    width: 40px;
}

.text-white{
    color: white !important;
}

.bg-black{
    background-color: #370028 !important;
}

.fs-tech-title{
    font-size: 1.3rem;
}

.blocTech{
    width: 100% !important;
    max-width: 200px !important;
}

.rowSpace{
    display: flex;
    justify-content: space-around;
}